body{
    background-color: #001B49;
}
*{
    font-family: 'Black Ops One', sans-serif;
                                                
}
#visualizacion-palabra{
    border-top: .5em solid #001B49;
    display: grid;
    place-items: center;
}
.cajaTeclado{
    width: 40vw;
    height: 30vh;
    border-bottom: 1em solid #001B49;
}
.cajaPalabra{
    color: #FFFFFF;
    font-size: 2em;
}
.intentos{
    color: #FFFFFF;
    font-size: 1.5em;
}
.teclado {
    border-top: .5em solid #001B49;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: .2em;
    padding-top: 1em;
    border-bottom: 1em solid #001B49;
}
.tecla {
    width: 2em;
    height: 2em;
    text-align: center;
    border: .6em solid #001B49;
    line-height: 2em;
    background-color: #eee;
    cursor: pointer;
}
.resetButton {
    display: inline-block;
    width: 15vw;
    height: 8vh;
    background-color: #00F000;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.resetButton:hover {
    background-color: #00FF00;
    color: #000000;
}
.entradaTexto{
    border: 0.1em solid #0000FF;
    text-align: center;
    border-radius: 0.5em;
    width: 20vw;
    height: 5vh;
}
.entradaTexto:hover{
    border-color: #000000;
}

#ahorcado{
    border: 1em solid rgba(255, 255, 255, 0);
    border-left: 4em solid rgba(255, 255, 255, 0);
    display: grid;
    place-items: center;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .cajaTeclado{
        width: 100%;
        height: auto;
    }
    .cajaPalabra{
        font-size: 2em;
    }
    .cajaTeclado{
        width: 85%;
        height: auto;
    }
    .entradaTexto{
        width: 70%;
        
    }
    .tecla{
        width: 1.5em;
        height: 1.5em;
        border: 2em;
        text-align: center;
    }
    .resetButton{
        width: 50%;
        margin-top: 10%;
    }
}

.titleGame{
    font-family: 'Black Ops One', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                0 0 20px rgba(255, 255, 255, 0.5),
                0 0 30px rgba(255, 255, 255, 0.3);
    margin: 10% 0 10% 0;
    font-size: 4vw;    
}

.buttonGame{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 20vw;
    height: 8vh;
    background-color: #00F000;
    border-radius: 8px;
    border-color: #00F000;
}

.gameLink{
    text-decoration: none;
    color: #002afe;
    margin: 0 auto;
    transition-duration: 1s;
}

.gameLink:hover{
    color: #ff0000;
}

@media (max-width: 600px) {
    .titleGame {
        font-size: 8vw;
        margin: 40% 0 40% 0;
    }
    .buttonGame {
        width: 50vw;
        height: 7vh;
    }
    .gameLink {
        font-size: 100%;
    }
}

.cajaAhorcado{
    width: 99vw;
    height: 35vh
    border-color #FFFFFF;
}
#myModal{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#modelContent{
    display: grid;
    place-items: center;;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.textMessage{
    color: #fff;
}

#closeModal{
    margin-top: 10px;
    cursor: pointer;
    background: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
}